In [1]:
import numpy as np
import pandas as pd
import json

In [2]:
culture = pd.read_excel("C:/Users/user/Desktop/EX_CULTURE.xlsx")

In [3]:
culture.head()

   ACTIVITY_NO ACTIVITY_TITLE KEY_NO1 KEY_NO2 KEY_NO3
0            1             AB       A       B       C
1            2             BC       C       D       E
2            3             CD       E       F       G
3            4             DE       G       H       F
4            5             EF       F       S       G

In [4]:
user = pd.read_excel("C:/Users/user/Desktop/EX_USER.xlsx")
user.head()

   USER_NO KEY_NO1 KEY_NO2 KEY_NO3
0        1       A       B       C
1        2       B       C       F
2        3       C       E       D
3        4       Z       D       G
4        5       W       D       R

In [5]:
culture.ACTIVITY_NO = pd.to_numeric(culture.ACTIVITY_NO, errors='coerce')
user.USER_NO = pd.to_numeric(user.USER_NO, errors='coerce')

In [6]:
user.values[4,2]

'D'

In [7]:
culture.values[0,2]

'A'

score 만들고  //score[:, :i ]

for문 i in range(0, user수):
	for i in range(1,4):
		for j in range(1,4):

In [8]:

cnt=[]
col=[]
inx=[]
for co in range(0, len(culture)):
    col.append(culture.values[co,1])
for ix in range(0, len(user)):
    inx.append(user.values[ix,0])
user_like = pd.DataFrame()
user_like = user_like.append(pd.DataFrame(columns=col))
user_like = user_like.append(pd.DataFrame(index=inx))
for i in range(0, len(user)):
    for t in range(0, len(culture)):
        
        sum=0  
        for u in range(1,4):     
            
            for c in range(2,5):
                
                if user.values[i,u]==culture.values[t,c]:
                    sum = sum+1
        cnt.append(sum)


    
    # user_like = user_like.append(pd.DataFrame(cnt))

C:\Users\user\AppData\Local\Temp\ipykernel_6436\1241885741.py:9: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  user_like = user_like.append(pd.DataFrame(columns=col))
C:\Users\user\AppData\Local\Temp\ipykernel_6436\1241885741.py:10: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  user_like = user_like.append(pd.DataFrame(index=inx))

In [9]:
def def_user(i):
	cnt = []
	for t in range(0, len(culture)):
		sum = 0
		for u in range(1,4):
			for c in range(2,5):
				if user.values[i,u]==culture.values[t,c]:
					sum = sum+1
		cnt.append(sum)
	return cnt
for i in range(0, len(user)):
	user_like.loc[i+1] = def_user(i)

In [10]:
user_like[:]

   AB BC CD DE EF FG GH HI IJ JK
1   3  1  0  0  0  0  1  0  1  0
2   2  1  1  1  1  0  0  1  1  0
3   1  3  1  0  0  0  1  0  0  0
4   0  1  1  1  1  0  2  1  0  0
5   0  1  0  0  0  1  1  0  0  1
6   0  0  1  2  2  0  1  0  1  0
7   1  1  0  0  0  0  0  0  0  1
8   0  0  1  1  2  1  1  0  1  0
9   0  1  1  1  1  1  1  2  0  0
10  0  1  0  0  1  1  1  0  0  0

In [11]:
print(user_like)

   AB BC CD DE EF FG GH HI IJ JK
1   3  1  0  0  0  0  1  0  1  0
2   2  1  1  1  1  0  0  1  1  0
3   1  3  1  0  0  0  1  0  0  0
4   0  1  1  1  1  0  2  1  0  0
5   0  1  0  0  0  1  1  0  0  1
6   0  0  1  2  2  0  1  0  1  0
7   1  1  0  0  0  0  0  0  0  1
8   0  0  1  1  2  1  1  0  1  0
9   0  1  1  1  1  1  1  2  0  0
10  0  1  0  0  1  1  1  0  0  0

In [12]:

user_like.loc[1].sort_values(ascending=False).head(5)
# 인덱스랑 횟수 출력. 인덱스(ex문화번호) 만 뽑으려면 뒤에 .index
# 인덱스 뽑아서 저장하려면 리스트 생성해서 앞에 'list ='

AB    3
BC    1
GH    1
IJ    1
CD    0
Name: 1, dtype: object