In [2]:
# 오라클 연결할 수 있는거 설치
%pip install cx_Oracle

Collecting cx_Oracle
  Downloading cx_Oracle-8.3.0-cp39-cp39-win_amd64.whl (213 kB)
Installing collected packages: cx-Oracle
Successfully installed cx-Oracle-8.3.0
Note: you may need to restart the kernel to use updated packages.

In [1]:
# 데이터 프레임을 위함 판다스 임포트
import pandas as pd

In [2]:
# 오라클과 연결해주는거 임포트
import cx_Oracle
import os

In [3]:
# DB연결 해주는거
LOCATION = r"C:\db\sqldeveloper\sqldeveloper.exe"

os.environ["PATH"] = LOCATION + ";" + os.environ["PATH"]

In [4]:
# DB 주소 적기
connect = cx_Oracle.connect("suncheon_1109_5", "smhrd5", "project-db-stu.ddns.net:1524/xe")
cursor = connect.cursor()

In [5]:
import pandas as pd

In [6]:
activity = pd.read_excel("C:/Users/user/Desktop/전남 키워드.xlsx")

In [7]:
activity.values[0,0]

'＂2022년＂ 가족뮤지컬 호두까기인형 - 광양'

In [8]:
activity.head()

,ACTIVITY_TITLE,ACTIVITY_PIC,ACTIVITY_AD,START_DATEFINISH_DATE,Unnamed: 4,ACTIVITY_TYPE,REGION_TYPE,ACTIVITY_PLACE,KEY_NO1,KEY_NO2,KEY_NO3,KEY_NO4,KEY_NO5,Unnamed: 13,ACTIVITY_AGE,FAVOR_ADD,CONTENTS
0,＂2022년＂ 가족뮤지컬 호두까기인형 - 광양,http://ticketimage.interpark.com/rz/image/play...,http://ticket.interpark.com/TIKI/Main/TikiGood...,2022.12.25,2022.12.25,1,100,광양시문화예술회관 대공연장,어린이,관람,연말,동화,실내,관람연령,전체관람가,0,https://ticketimage.interpark.com/Play/image/e...
1,［여수］싱어롱 콘서트 뮤지컬 ‘Live Show’ 〈무지개 물고기〉,http://ticketimage.interpark.com/rz/image/play...,http://ticket.interpark.com/TIKI/Main/TikiGood...,2022.12.24,2022.12.25,1,100,여수시민회관,어린이,관람,주말,감동,실내,관람연령,24개월이상 관람가능,0,https://ticketimage.interpark.com/Play/image/e...
2,2022년 특선가족뮤지컬 “신데렐라” - 목포,http://ticketimage.interpark.com/rz/image/play...,http://ticket.interpark.com/TIKI/Main/TikiGood...,2022.12.25,2022.12.25,1,100,목포문화예술회관,어린이,관람,주말,동화,실내,관람연령,24개월이상 관람가능,0,https://ticketimage.interpark.com/Play/image/e...
3,2022년 특선가족뮤지컬 “아기돼지삼형제” - 목포,http://ticketimage.interpark.com/rz/image/play...,http://ticket.interpark.com/TIKI/Main/TikiGood...,2022.12.03,2022.12.03,1,100,목포시민문화체육센터 소공연장,어린이,관람,참여,동화,실내,관람연령,24개월이상 관람가능,0,https://ticketimage.interpark.com/Play/image/e...
4,2022년 특선가족뮤지컬＂아기돼지삼형제＂-순천,http://ticketimage.interpark.com/rz/image/play...,http://ticket.interpark.com/TIKI/Main/TikiGood...,2022.12.18,2022.12.18,1,100,순천문화예술회관 대극장,어린이,관람,참여,동화,실내,관람연령,24개월이상 관람가능,0,https://ticketimage.interpark.com/Play/image/e...

In [9]:
for i in range(0, len(activity)):
    
    activity_info = []
    activity_info = activity.values[i,0],activity.values[i,1],activity.values[i,2],activity.values[i,7],activity.values[i,3],activity.values[i,4], activity.values[i,16], activity.values[i,5],activity.values[i,6],activity.values[i,15],activity.values[i,8],activity.values[i,9],activity.values[i,10],activity.values[i,11],activity.values[i,12],activity.values[i,14]
    cursor.executemany("insert into activity_info (ACTIVITY_NO, ACTIVITY_TITLE, ACTIVITY_PIC, ACTIVITY_AD, ACTIVITY_PLACE, START_DATE, FINISH_DATE, CONTENTS, ACTIVITY_TYPE, REGION_TYPE,FAVOR_ADD, KEY_NO1, KEY_NO2, KEY_NO3, KEY_NO4, KEY_NO5, ACTIVITY_AGE) values(PLUS_SEQ.NEXTVAL,:1,:2,:3,:4,:5,:6,:7,:8,:9,:10,:11,:12,:13,:14,:15,:16)", [(activity_info)])

In [10]:
#######################################위아래 똑같? 혹시몰라서 놔둠##########################################################################################################################################################################################################################################################################################################################
for i in range(0, len(activity)):
    
    activity_info = []
    activity_info = activity.values[i,0],activity.values[i,1],activity.values[i,2],activity.values[i,7],activity.values[i,3],activity.values[i,4],activity.values[i,16],activity.values[i,5],activity.values[i,6],activity.values[i,15],activity.values[i,8],activity.values[i,9],activity.values[i,10],activity.values[i,11],activity.values[i,12],activity.values[i,14]
    cursor.executemany("insert into activity_info (ACTIVITY_NO, ACTIVITY_TITLE, ACTIVITY_PIC, ACTIVITY_AD, ACTIVITY_PLACE, START_DATE, FINISH_DATE, CONTENTS, ACTIVITY_TYPE, REGION_TYPE, FAVOR_ADD, KEY_NO1, KEY_NO2 , KEY_NO3, KEY_NO4, KEY_NO5, ACTIVITY_AGE) values(PLUS_SEQ.NEXTVAL,:1,:2,:3,:4,:5,:6,:7,:8,:9,:10,:11,:12,:13,:14,:15,:16)",[(activity_info)])

In [81]:
# 커밋하기

connect.commit()

In [82]:
# 연결 끊어주기

cursor.close()
connect.close()

In [12]:
import numpy as np

In [63]:
################################################################(nan을 none로 처리하려다 실패한 코드################################################################################################################################################################################
for i in range(0, len(activity)):
    for j in range(0,len(activity_df_none)):
        activity_info = []
        activity_info = (activity.values[i,0],activity.values[i,1],activity.values[i,2],activity.values[i,7],activity.values[i,3],activity.values[i,4],activity.values[i,16])
        activity_df = pd.DataFrame(activity_info) 
        activity_df_none = activity_df.replace({np.nan: None})
        cursor.executemany("insert into activity_info (ACTIVITY_NO, ACTIVITY_TITLE, ACTIVITY_PIC, ACTIVITY_AD, ACTIVITY_PLACE, START_DATE, FINISH_DATE, CONTENTS) values(PLUS_SEQ.NEXTVAL,:1,:2,:3,:4,:5,:6,:7)", [(activity_df_none[0:j])])

DatabaseError: ORA-01008: not all variables bound

In [36]:
##=========================((이 아래로ex))==========================
# 임의로 만들어본거
# 여기에 파일 불러와서 리스트로 만들어서 넣으면 될듯
rows = [(28, 28),(29, 29)]

In [ ]:
cursor.executemany("insert into key_info (key_no, keyword) values (:1, :2)", )

In [41]:
# sql 구문 적고 값 적기, value 개수가 들어가는 테이블의 value 개수와 맞아야함

cursor.executemany("insert into key_info (key_no, keyword) values (:1, :2)", rows)

In [ ]:
# 데이터프레임으로 불러오기
df=pd.real_sql(" sql 구문 " , con = connect) 
print(df)

In [43]:
# 임의로 해보기2

rows1 = [(10, "asdf","1234","1234","1234",1,2,3)]

In [52]:
# 임의로 해보기2

cursor.executemany("insert into user_info(USER_NO, ID,PW,NAME,MBTI,KEY_NO1,KEY_NO2,KEY_NO3) values (:1, :2, :3, :4, :5, :6, :7, :8)", rows1)

In [53]:
# 임의로 해보기2

connect.commit()
cursor.close()
connect.close()